.fab{
  position: absolute;
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  background-color: #ff4081;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

a.fab {

    color:white;
    text-decoration: none;

}